menu "Nano ESP32 Library Config"

    config NANO_LIB_ENABLE
        bool
        prompt "Enable the Nano Library"
        default false
        help
            help text

    config NANO_LIB_ADDRESS_PREFIX
        string
        prompt "prefix to apply for address data"
        depends on NANO_LIB_ENABLE
        default "xrb_"
        help
            Typically "xrb_" or "nano_"

endmenu
